* {
    margin: 0;
    padding: 0;
}

:root {
    --hover-color: #337ab7;
}

.siteMap_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.siteMap_wrapper .title {
    text-align: center;
    padding: 15px 0;
}

.siteMap_wrapper .head {
    width: 95%;
    margin: 10px auto 0;
    padding: 10px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.siteMap_wrapper .head a {
    text-decoration: none;
    color: #000;
}

.siteMap_wrapper .head a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

.siteMap_wrapper .head a:nth-of-type(1) {
    font-weight: bolder;
}

.siteMap_wrapper .head a:not(:nth-of-type(1)):before {
    content: '>>';
    margin-right: 5px;
}

.siteMap_wrapper .content_map {
    width: 95%;
    margin: 10px auto 10px;
    padding: 15px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.siteMap_wrapper .content_map .map_list {
    padding-left: 40px;
    margin: 12px 0;
}


.siteMap_wrapper .content_map .map_list li {
    /*padding: 5px;*/
    margin-top: 8px;
}

.siteMap_wrapper .content_map .map_list li > a {
    text-decoration: none;
    color: #000;
}

.siteMap_wrapper .content_map .map_list li > a:hover {
    text-decoration: none;
    color: var(--hover-color);
}








